$border-params: 0.125em solid lightslategray
$text-color: white

@import url('https://fonts.googleapis.com/css?family=Fanwood+Text')
@import url('https://fonts.googleapis.com/css?family=Vollkorn')

body
  background-color: #555
  color: $text-color
  font-family: sans-serif

nav
  padding-bottom: 5em
  ul
    margin: 0
    padding: 0
    overflow: hidden
    background-color: #333
    position: fixed
    top: 0
    left: 0
    width: 100%

    li
      float: left

      a
        display: block
        padding: 0.875em 1em

      a:hover:not(.active)
        background-color: #111

.active
  background-color: #4469ff

ul
  list-style-type: none

a
  text-decoration: none
  color: $text-color

p,
h1
  text-align: center

#home
  background: url('http://localhost:8000/images/index')
#contact
  background: url('http://localhost:8000/images/contact')
#signup
  background: url('http://localhost:8000/images/signup')
#login
  background: url('http://localhost:8000/images/login')

.container
  background-size: 100%
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  min-height: 100%
  z-index: -1
  p,
  label
    font-family: 'Fanwood Text', serif
    font-size: 150%
  .content
    position: relative
    top: 10%
    margin: 0
    padding: 0
    h1
      font-family: 'Volkorn', serif
      font-size: 3.5em

#contact
  textarea
    resize: none

#demos
  a
    display: block
    border-bottom: $border-params
  h1
    padding-bottom: 1em
    margin-bottom: 1.5em

form
  text-align: center
  label,
  input,
  textarea
    display: block
    margin: auto
  label,
  #btn-submit
    margin: 1em auto


footer
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  height: 7em
  border-top: 0.125em solid $text-color
